<!DOCTYPE html>
<html lang="en" data-ng-app="deluge">
    <head>
        <meta charset="utf-8">
        <title>{{ title || 'Deluge CMS' }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/client/static/droplet.png" />

        <!-- Turn off IE Compatibility mode, for Persona support -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <!-- Theme Styling -->
        <link href="/client/css/theme.css" rel="stylesheet">

        <!-- Vendor Styling -->
        <link href="/client/css/font-awesome.min.css" rel="stylesheet">

        <!-- Vendor Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/client/js/marked.js"></script>
        <script src="/client/js/lodash.min.js"></script>
        <script src="/client/js/angular.min.js"></script>
        <script src="/client/js/angular-route.min.js"></script>
        <script src="/client/js/angular-resource.min.js"></script>
        <script src="/client/js/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="/client/js/angular-slugify.js"></script>

        <!-- Application Scripts -->
        <script src="/client/js/app.js"></script>
        <script src="/client/js/client.templates.js"></script>
        <script src="/client/js/components.filters.js"></script>
        <script src="/client/js/components.controllers.js"></script>

        <% if(grunt.config('settings.debug')) { %>
        <!-- Live Reload Script -->
        <script src="//localhost:35729/livereload.js"></script>
        <% } %>
    </head>
    <body>
        <div id="main-view" ng-view></div>
    </body>
</html>