<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="userCollapsed = !userCollapsed" ng-init="userCollapsed = true" data-target="#user-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/client/static/droplet.png" width="20"> <span class="hidden-xs-inline">Deluge</span></a>
    </div>

    <h3 class="navbar-center">{{ page.title }}</h3>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="userCollapsed">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
            <li>
                <p class="navbar-text">chris.case@g33xnexus.com</p>
            </li>
            <li>
                <button class="btn btn-default navbar-btn" title="Admin Section"><i class="fa fa-fw fa-lg fa-gears"></i></button>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <br/>
    <div class="jumbotron">
        <h1><i class="fa fa-fw fa-exclamation-triangle"></i> "{{ page.slug }}" not found</h1>
        <p>Sorry, we couldn't find the page you requested.</p>
    </div>
</div>
