<div ng-include="'/components/header/header.html'"></div>

<div class="admin-content" ng-switch="admin_tpl != undefined">
    <div ng-switch-when="true">
        <div class="container container-preview" style="margin-bottom: 10px;">
            <a href="/admin"><i class="fa fa-fw fa-chevron-left"></i> Back to Admin</a>
        </div>
        <div ng-include="admin_tpl"></div>
    </div>

    <div class="container" ng-switch-default>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary btn-sm pull-right" ng-click="setLocation('/admin/add_user')"><i class="fa fa-fw fa-plus"></i> Add User</button>
                <h3 class="panel-title"><i class="fa fa-fw fa-user"></i> Users</h3>
                <div style="clear:both"></div>
            </div>
            <div class="panel-body">
                <h4 ng-if="!users || users.length == 0" class="text-center">No Users, yet.</h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary btn-sm pull-right" ng-click="setLocation('/admin/add_page')"><i class="fa fa-fw fa-plus"></i> Add Page</button>
                <h3 class="panel-title"><i class="fa fa-fw fa-file-text-o"></i> Pages</h3>
                <div style="clear:both"></div>
            </div>
            <div ng-if="!pages || pages.length == 0" class="panel-body">
                <h4 class="text-center">No Pages, yet.</h4>
            </div>
            <table class="table table-bordered table-striped table-admin">
                <tr ng-repeat="page in pages">
                    <td>
                        <span ng-switch="!!page.draft" style="margin-right: 5px">
                            <span ng-switch-when="false" class="label label-success">Published</span>
                            <span ng-switch-when="true" class="label label-warning">Draft</span>
                        </span>
                        <a href="{{ page.slug }}">{{ page.title }}</a>
                    </td>
                    <td class="hidden-xs">
                        {{ page.slug }}
                    </td>
                    <td style="width: 1%">
                        <div class="btn-group btn-group-justified" style="min-width: 200px">
                            <a class="btn btn-primary btn-block" ng-click="setLocation('/admin/page/' + page.slug)"><i class="fa fa-fw fa-edit"></i> Edit</a>
                            <a class="btn btn-danger btn-block" ng-click="removePage(page.slug)"><i class="fa fa-fw fa-trash-o"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary btn-sm pull-right" ng-click="setLocation('/admin/add_article')"><i class="fa fa-fw fa-plus"></i> Add Article</button>
                <h3 class="panel-title"><i class="fa fa-fw fa-pencil"></i> Articles</h3>
                <div style="clear:both"></div>
            </div>
            <div ng-if="!articles || articles.length == 0" class="panel-body">
                <h4 class="text-center">No Articles, yet.</h4>
            </div>
            <table class="table table-bordered table-striped table-admin">
                <tr ng-repeat="article in articles | orderBy: 'featured'">
                    <td>
                        <span ng-switch="!!article.draft" style="margin-right: 5px">
                            <span ng-switch-when="false" class="label label-success">Published</span>
                            <span ng-switch-when="true" class="label label-warning">Draft</span>
                        </span>
                        <span ng-if="!!article.featured" class="label label-info">Featured</span>
                        <a href="/articles/{{ article.slug }}">{{ article.title }}</a>
                    </td>
                    <td class="hidden-xs">
                        {{ article.slug }}
                    </td>
                    <td style="width: 1%">
                        <div class="btn-group btn-group-justified" style="min-width: 200px">
                            <a class="btn btn-primary btn-block" ng-click="setLocation('/admin/article/' + article.slug)"><i class="fa fa-fw fa-edit"></i> Edit</a>
                            <a class="btn btn-danger btn-block" ng-click="removeArticle(article.slug)"><i class="fa fa-fw fa-trash-o"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-include="'/components/footer/footer.html'"></div>
