<div  ng-if="editPage.draft" class="alert alert-warning">
    <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="publish(editPage)">Publish</button>
    <strong>Draft:</strong> This page will not be publically viewable until you publish it.
</div>
<form role="form">
    <div class="form-group">
        <label for="editPageTitle">Title</label>
        <input ng-model="editPage.title" type="text" class="form-control" id="editPageTitle" placeholder="Enter Page Title">
    </div>
    <div class="form-group">
        <label for="editPageSlug">Slug</label>
        <input type="text" class="form-control" id="editPageSlug" ng-model="editPage.slug" disabled>
        <!--slug from="editPage.title" to="editPage.slug"></slug-->
    </div>
    <div class="form-group">
        <label for="editPageContent">Content</label>
        <textarea ng-model="editPage.content" class="form-control" id="editPageContent" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label for="editPageTemplate">Template</label>
        <select ng-model="editPage.template" id="editPageTemplate" class="form-control">
            <option value="">default.html</option>
        </select>
    </div>
    <hr>
    <div class="pull-left">
        <button type="submit" class="btn btn-default" ng-click="setLocation(editPage.slug)">View</button>
        <button ng-if="editPage.draft == false" type="submit" class="btn btn-warning" ng-click="unpublish(editPage)"><i class="fa fa-fw fa-download"></i> Unpublish</button>
        <button type="submit" class="btn btn-danger" ng-click="remove(editPage.slug)">Delete</button>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-default" ng-click="save(editPage)">Save</button>
        <button type="submit" class="btn btn-default" ng-click="save(editPage, 'continue')">Save and Continue</button>
        <button ng-if="editPage.draft" type="submit" class="btn btn-primary" ng-click="publish(editPage)"><i class="fa fa-fw fa-upload"></i> Publish</button>
    </div>
</form>
